.button {
  border: 1px solid #eee;
  padding: 2rem 4rem;
  font-size: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: all 0.2s;
  color: #eee;
  background: transparent;
}

.button:hover {
  transform: translateY(-3px);
  color: #eee;
}

.button:active {
  transform: translateY(-1px);
  color: #eee;
}

@media only screen and (max-width: 37.5em) {
  .button {
    border: 1px solid #eee;
    padding: 1.5rem 3.5rem 2rem 3.5rem;
  }
}
